.Register-container {
  width: 70%;
}
.Verify-container {
  width: 40%;
}
.Register-main-container {
  background-color: rgba(49, 74, 89, 0.9);
  border-radius: 16px;
}

.Verify-main-container {
  background-color: rgba(49, 89, 81, 0.9);
  border-radius: 16px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6); /* Light white */
  font-style: italic;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  background: none !important;
  transition: background-color 9999s ease-out;
}

@media (max-width: 576px) {
  .btn-lg {
    font-size: 16px !important;
    padding: 0.6rem 1rem !important;
  }
}
