table thead th{
    background-color: #315951E5 !important;
    color: white !important;
    font-weight: 300 !important;
    text-align: center !important;
}

table tbody td {
    text-align: center;
}
